<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>

     <!-- Guna's code -->
        <meta charset="utf-8">
        <title>Every Child, Literate!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
        <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
        <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
        <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic"
              rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800"
              rel="stylesheet" type="text/css">

        <link href="../css/ftstyle.css"
              rel="stylesheet" type="text/css">


        <script type="text/javascript" src="../script/ftscript.js"></script>



  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <button type="button" class="btn btn-navbar"
                      data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#"><span class="ftc">fTC</span></a>

              <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li class="active"><a href="/home">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="/orders">Donations</a></li>
                      <li><a href="#contact">Contact</a></li>
                  </ul>
              </div>
              <!--/.nav-collapse -->
          </div>
      </div>
  </div>





    <div class="container">
      <h2>Coinbase donation</h2>
      <table class="table table-striped">
        <thead>
          <th>Coinbase ID</th>
          <th>BTC</th>
          <th>Transaction time</th>
          <th>Donated in Currency</th>


        </thead>
        <tbody>
          <% for(var i=0; i<orders.length; i++) {%>
             <tr>
               <td><%= orders[i].id %></td>
               <td><%= orders[i].amount %></td>
               <td><%= orders[i].time %></td>
               <td><%= orders[i].native_currency %></td>

             </tr>
             <% } %>
      </table>
      <a href="/refresh_orders">Refresh donations from coinbase</a>
    </div>
  </body>
</html>
